*{
    box-sizing: 4px;
}


header{
    height: 100px;
    display: flex;
    border: 4px solid black;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}


header .logo img{
    height: 80px;
    width: 120px;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

nav .nav{
    list-style: none;
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

nav .nav .button{
    padding: 3px;

}




/*TERMINA HEADER*/



.content{
    margin: 15px;
    padding: 15px;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
    
}

.h1{
    height: 100px;
}


.box0{
    border: 3px solid black;
    padding: 3px;
    margin: 10px;
    margin-inline: 30%;
    background-image: url(10.png);
    background-size: cover;
    grid-column: 1/3;
    text-align: center;
    color: rgb(231, 14, 166);
    text-shadow: 3px 3px 3px;
    font-size: 40px;
}


.box1{
    border: 3px solid black;
    padding: 3px;
    margin: 5px;
    text-align: center;
    justify-content: center;
}

.box2{
    border: 3px solid black;
    padding: 3px;
    margin: 5px;
    text-align: center;
    justify-content: center;
    
}

.box3{
    border: 3px solid black;
    padding: 3px;
    margin: 5px;
    text-align: center;
    justify-content: center;
    grid-row: 2 / span 3;
}

.box3 img{
    list-style: none;
    padding: 20px;
    text-align: center;
    height: 140px;
    
}

main .fotos{
    list-style: none;
    border: 1px solid black;
    
}

